<!DOCTYPE html>
<html lang="en">
<head>
    <meta thhp-equiv="X-UA_Compatible" content="IE=edge,chrome=1"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/Game.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800;1,900&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
    <header class="main">
        <nav>
            <ul class="menu-list">
                <l1 class="menu-item"><a href="/" class="menu-link">Home</a></l1>
                <l1 class="menu-item"><a href="/new-game" class="menu-link">Start Game</a></l1>
                <l1 class="menu-item"><a href="/Players" class="menu-link">Top 10</a></l1>
                <l1 class="menu-item"><a href="/contactUs" class="menu-link">Contact Us</a></l1>
                <l1 class="menu-item"><a href="/Host" class="menu-link">Host</a></l1>
            </ul>
        </nav>
    </header>
