<%- include('./partials/header.ejs') %>
<center>
<div class="contactUs">
    <form  action="/contactUs" method="POST" >
        <p id='Main'>Contact Us</p>
            <input type='text' id='Name' name='Name' placeholder="NAME : "/>
            <input type='text' id='Email' name='Email' placeholder="Email : "/>
            <textarea id='Message' name='Message' placeholder="Message : "></textarea>
            <br/>
            <button id="Send" onclick="TestInputs()" >Submit </button>
          <!-- <p style="font-size:20px;color:red;background-color: white;margin:10px;width:260px;" id="ErrorMessage"></p> -->
      </form>
</div>
<center>
<script>
    const TestInputs = (req,res)=> {
        let nameValue = document.querySelector('#Name');
        let emailValue = document.querySelector('#Email');
        let messageValue = document.querySelector('#Message');
        console.log(emailValue.value);
        if (messageValue.value=='')
            messageValue.style.border='1px solid red';
        else
            messageValue.style.border='1px solid black';
        if (emailValue.value=='')
            emailValue.style.border='1px solid red';
        else
            emailValue.style.border='1px solid black';
        if (nameValue.value=='')
            nameValue.style.border='1px solid red';
        else
            nameValue.style.border='1px solid black';
    }
</script>